<section class="sitenotice ">
  <div class="sitenotice__inner">
    <div class="sitenotice__content-wrapper">
      <div class="sitenotice__title">
        {{ content.field_notice_title }}
      </div>

      <div class="sitenotice__blurb">
        {{ content.field_notice_blurb }}
      </div>
    </div>

    <div class="sitenotice__button-wrapper">
      {{ content.field_notice_button }}
    </div>

    {{ content.sitenotice_close_wrapper }}
  </div>
</section>